@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

*{
	font-family: 'Noto Sans KR', sans-serif;
}

body{
	margin: 0;
	background-color: #eaeaea;
}

a {
	color: black;
	text-decoration: none;
}

a:hover, 
a:focus {
	font-weight: bold;
	text-decoration: underline;
}

/* 테스트용*

*{
	border :1px solid black;
	
}

/* 테스트용*/

/*사이드바*/

#sideMenu{
	width:100px;
	position: absolute;
	left: 1050px;
	top: 300px;
	border: 1px solid black;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#main_container{
	width:100%;
	height: 100%;
	text-align: center;
}

#main_wrapper{
	width: 1000px;
	height: 100%;
	display: inline-block;
	position: relative;
}

.container{
	width: 100%;
	float: left;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

#profile_container{
	margin-top: 100px;
}


#profile_photo{
	float: left;
	width:30%;
	overflow: hidden;
}
#profile_img{
	width:100%;
}


#profile_detail{
	float: right;
	width:67%;
	height: 100%;
}

#profile_detail_korean{
	font-size: 200%;
	text-align: left;
}
#profile_detail_english{
	font-size: 175%;
	font-weight: 100;
	text-align: left;
}

#profile_table{
	margin-top: 30px;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.profile_table_tr{
	height: 60px;
}

.profile_contents{
	text-align: left;
}


.icon_div{
	width:22px;
}

.icon_img{
	max-width: 100%;
	vertical-align: middle;
}

.profile_text{
	margin-left: 5px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

#skill_container{
	width: 100%;
	height: 100%;
	margin-top: 50px;
	text-align: left;
}

#skill_headline{
	font-size:30px;
	font-weight: bold;	
	margin: 35px 0 35px;
}

.skill_title{
	font-size:22px;
	font-weight: bold;
	margin: 45px 0 15px;
}

.skill_contents{
	font-size:15px;
	color: #7b7b7b;
	line-height: 170%;
}

